<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
       <p class="text-end" style="float:right;">
               <p class="text-right">Hola {{ usuario }}</p>


               
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesión<i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>

<div class="row">
    <div class="col-7" style="margin-top: ;-9px ;">
        <h2>Listado Novedades</h2>
    </div>
    <div class="col-5 text-right">
        <a href="" class="btn btn-success"><i class="fas fa-plus">
        </i>Nuevos</a>
    </div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col" class=" text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each}}
                <tr> 
                    <th scope="row">{{id}}</th>
                    <td>{{Titulo}}</td>
                    <td class="text-right">
                        <a href=" " class="btn btn-secondary">
                            <i class="fas fa-pencil-alt"></i></a>
                        <a href="/admin/novedades/eliminar {{id}}" class="btn btn-secondary">
                            <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<tbody>
{{#each novedades}}
<tr>
    <th scope="row">{{id}}</th>
    <td>{{titulo}}</td>
    <td class="text-center">
        <a href="#" title="Editar" class="btn btn-secondary">
            <i class="fa fa-pencil"></i>
        </a><a href="#" title="Eliminar" class="btn btn-secondary">
            <i class="fa fa-trash"></i>
        </a>
        <a href="/admin/novedades/eliminar {{id}}" class="btn btn-secondary">
        <i class="fas fa-trash"></i></a>

    </td>
</tr>
{{/each}}

</tbody>



<div class="col-2 text-right">
    <a href="/admin/novedades/agregar" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>
</div>
<div class="col-2 text-right">
    <a href="/admin/novedades/modificar/{{id}}" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i>Nuevo</a>
</div>
</div>

</div>